*{
    box-sizing:border-box;
}
body{
    margin:0;
}
a{
    text-decoration:none;
    color:white;
    font-size:20px;
}
p{
    text-align:justify;
}
h2{
    text-shadow:2px 2px 5px black;
}
.dotted-hr{
    border:dotted 6px white;
    border-bottom :none;
    margin: 20px auto;
    width:60px;
}
[class*="col-"]{
    float:left;
    padding:10px;
}
/* for mobile*/
[class*="col-"]{
    width:100%;

}
/*Navbar Start Here*/
.nav-bar{
    background-color:blueviolet;
    padding:1% 7%;
    text-align:center;
}

.nav-logo{
    text-align:center;
    padding-top:25px;
}
.nav-heading{
    text-align:center;
    font-size:20px;
    color:white;
}
.nav-manu{
    display:flex;
    flex-direction:column;
    text-transform:uppercase;
}
.nav-bar a{
    padding:10px;
    margin:2px;
    text-align:center;
    background-color:steelblue;
    border-radius:5px;
}
.nav-bar a:hover{
    background-color:gray;
}
.nav-bar::after{
    content:'';
    clear:both;
    display:table;
}
/*Navbar End Here*/
/*profile start*/
.profile{
    width:100%;
    padding:130px 10px;
    text-align: center;
    position:relative;
}
.profile .top-wether-icon{
    height:80px;
    right:60px;
    top:20px;
    position:absolute;
    transition:transform 2s;
}
.profile .bottom-wether-icon{
    height:80px;
    right:60px;
    
    position:absolute;
    transition:transform 2s;
}
.profile .top-wether-icon:hover{
    transform:rotate(360deg);
}
.profile .bottom-wether-icon:hover{
    transform:rotate(360deg);
}
.profile-dsc h1{
    font-family:cursive;
}
.profile p{
    text-align:center;
    font-size:18px;
    margin:0 20px auto auto;
    width:90%;
}
/*profile end*/
/*About Me Starts Here*/
.aboutme{
    background-color:#39a4ac;
    padding:1% 7%;
    color:white;
    text-align:center;
    font-family: ;
}
.aboutme-img img{
    border:5px solid white;
    border-radius:50%;
    height:220px;
    width:200px;
    
}
.aboutme p{
    text-align:left;
}
.aboutme a{
    font-size:1.2rem;
}
.cv-button{
    background-color:#053d3f;
    border:none;
    color:white;
    border-radius:12px;
    padding:15px;
    font-size:1rem;
    cursor:pointer;
    margin:10px;
}
.cv-button:hover{
    box-shadow:0px 2px 5px black;
}

.aboutme::after{
    content:'';
    display:table;
    clear:both;
}
/*Abou Me ends Here*/
/*Professional experince start here*/
.preofessional-experience{
    padding:20px;
    margin-top:0px;
}
.card{
    background-image:linear-gradient(to bottom, blueviolet, skyblue);
    border-radius:5px;
    padding:10px;
    transition:0.3s;
    height:500px;
}
.card:hover{
    box-shadow:0px 4px 8px 5px rgb(0, 0, 0, 0.5);
}
.card-icon{
    text-align:center;
}
.card-icon img{
    margin-top:20px;
    width:100px;
    box-shadow:2px 2px 5px rgb(0,0,0, 0.5);
}
.card-img{
    border:3px solid white;
    border-radius:50%;
    padding:10px;
}
.preofessional-experience .title h2{
    text-align:center;
    background-color:blue;
    box-shadow:2px 2px 5px rgb(0,0,0, 0.5);
    padding:10px;
    color:white;
}
.skill-container{
    padding-right:10px;
}
.skill-container li{
    list-style:none;
    font-weight:bold;
    margin:30px 50px;
    position:relative;
    text-transform:uppercase;
}
.skill-container li::before{
    content:'';
    position:absolute;
    top: calc(100% + 5px);
    left:0px;
    width:100%;
    height:10px;
    border-radius:100px;
    background-color:rgb(86, 86, 153, .5);
}
.skill-container li::after{
    content:'';
    position:absolute;
    top: calc(100% + 5px);
    left:0px;
    width:0;
    height:10px;
    border-radius:100px;
    background-color:rgba(52, 52, 255, 0.5);
    
    animation-duration:2s;
    animation-delay:3s;
    animation-timing-function:linear;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
.skill-container li.html::after{
    animation-name:html;
}
@keyframes html{
    to{
        width:90%;
    }
}
.skill-container li.css::after{
    animation-name:css;
}
@keyframes css{
    to{
        width:80%;
    }
}
.skill-container li.graphic::after{
    animation-name:graphic;
}
@keyframes graphic{
    to{
        width:55%;
    }
}
.skill-container li.marketing::after{
    animation-name:marketing;
}
@keyframes marketing{
    to{
        width:50%;
    }
}
.preofessional-experience::after{
    content:'';
    display:table;
    clear:both;
}

/*Professional experince start here*/
/*Achievments-contacts start here*/
.achievments-contacts{
    padding:1% 7%;
    color:white;
    background-color:blueviolet;
}
.contacts{
    text-align:center;
}
.achievments-contacts h2{
    text-shadow:2px 2px 5px black;
}

.contacts input, textarea{
    width:100%;
    padding:10px;
    font-size:1rem;
    text-align:center;
    border:none;
    border-radius:5px;
    resize:none;
}
.contacts input:focus{
    box-shadow:2px 2px 5px rgb(0, 0, 0);
}
.contacts textarea:focus{
    box-shadow:2px 2px 5px rgb(0, 0, 0);
}  
.contacts button{
    border:none;
    margin-top:8px;
    margin-left: 10px;;
    border-radius:5px;
    height:28px;
    width:80px;
    background-color:#053d3f;
    color:white;
    cursor:pointer;
}
.contacts button:hover{
    box-shadow:2px 2px 5px rgb(0, 0, 0, .5);
}
.contacts-link{
    text-align:center;
}
.media-button .btn:hover{
    box-shadow:2px 2px 5px rgb(0, 0, 0, 0.5);
}
.achievments-contacts::after{
    content:'';
    display:table;
    clear:both;
}
/*achievments-contacts ends here*/
/*footer*/
.footer{
    background-color:blue;
    color:white;
    padding:10px;
    text-align:center;
    font-size:0.8rem;
}
.footer-manu a{
    display:block;
}
.footer-manu a:hover{
    color:gray;
    text-shadow:2px 2px 5px rgb(0, 0, 0, 0.5);
}
.footer::after{
    content:'';
    display:table;
    clear:both;
}
